
\.idea/workspace\.xml

app/google-services\.json

app/app\.iml

\.gradle/4\.4/fileContent/fileContent\.lock

\.gradle/4\.4/fileHashes/fileHashes\.lock

\.gradle/4\.4/taskHistory/taskHistory\.bin

\.gradle/4\.4/fileHashes/fileHashes\.bin

\.gradle/4\.4/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/outputFiles\.bin

\.idea/caches/build_file_checksums\.ser

WebRTCusingGCM\.iml

\.idea/libraries/Gradle__android_arch_core_runtime_1_1_0\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0\.xml

\.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0\.xml

\.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_2\.xml

\.idea/libraries/Gradle__com_android_support_design_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_compat_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_v4_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1\.xml

\.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2\.xml

\.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2\.xml

\.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2\.xml

\.idea/libraries/Gradle__com_android_support_test_runner_1_0_2\.xml

\.idea/libraries/Gradle__com_android_support_transition_27_1_1\.xml

\.idea/libraries/Gradle__com_facebook_stetho_stetho_1_5_0\.xml

\.idea/libraries/Gradle__com_facebook_stetho_stetho_okhttp3_1_5_0\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_ads_identifier_15_0_1\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_base_15_0_1\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_basement_15_0_1\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_measurement_base_15_0_2\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_stats_15_0_1\.xml

\.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_15_0_1\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_analytics_15_0_2\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_15_0_2\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_common_15_0_1\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_core_15_0_2\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_iid_15_1_0\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_15_0_0\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_15_0_0\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_measurement_connector_impl_15_0_0\.xml

\.idea/libraries/Gradle__com_google_firebase_firebase_messaging_15_0_2\.xml

\.idea/libraries/Gradle__org_webrtc_google_webrtc_1_0_22920\.xml

\.idea/misc\.xml

\.idea/modules\.xml

WebRTCusingGCM-android\.iml
